
<div class="container "> 

    <div class="panel panel-default"> <br>
     <h1 style="color:blue; text-align: center;">  <div class="panel heading"> Nouvelle Seance :  <br> </div></h1> 
            <div class="panel-body">
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <form #f="ngForm" (ngSubmit)="onSaveSeance(f.value)">
                            <div class="form-group">
                                <br>
                            <label class="control-label">
                                Heure Debut  :
                            </label>
                            <input type="text" class="form-control" name="heureDebut" ngModel>
                            </div>
                            <div class="form-group">
                                <br>
                            <label class="control-label">
                                Heure Fin  :
                            </label>
                            <input type="text" class="form-control" name="heureFin" ngModel>
                            </div>
                            <div class="form-group">
                                <br>
                            <label class="control-label">
                                Jour   :
                            </label>
                            <input type="text" class="form-control" name="jour" ngModel>
                            </div>
                            <div class="form-group">
                                <br>
                            <label class="control-label">
                                Type   :
                            </label>
                            <select>
                                <option>TP </option>
                                <option>TD </option>
                                <option>Cours </option>
                            </select>
                            
                        
                            </div>
                            <div class="form-group">
                                <br>
                            <label class="control-label">
                                Salle  :
                            </label>
                            <select>
                                <option *ngFor="let salle of salles " [value]="salle.reference" >
                                           {{salle.reference}}
                                </option>
                            </select>
                            </div>
                            <div class="form-group">
                                <br>
                            <label class="control-label">
                                Matiere  :
                            </label>
                            <select>
                                <option *ngFor="let matier of matiers " [value]="matiers.reference" >
                                           {{matier.libelle }}
                                </option>
                            </select>
                            </div>
                            <div class="form-group">
                                <br>
                            <label class="control-label">
                                Groupe  :
                            </label>
                            <select>
                                <option *ngFor="let groupe of groupes " [value]="groupe.nom" >
                                           {{groupe.nom}}
                                </option>
                            </select>
                            </div>
                            <div class="form-group">
                                <br>
                            <label class="control-label">
                                Enseignant   :
                            </label>
                            <select>
                                <option *ngFor="let ensgt of ensgts " [value]="ensgt.username" >
                                           {{ensgt.username}}
                                </option>
                            </select>
                            </div>
                           
                          
                        <button class="btn btn-success" type="Submit"> Save</button>
                        </form>
        
        
        
        
        </div>
        

        </div>
    </div>
</div>
