
<div class="container "> 

    <div class="panel panel-default"> <br>
        <div class="panel heading"> NOUVEAU GROUPE <br> </div>
            <div class="panel-body">
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <form #f="ngForm" (ngSubmit)="onSaveGroupe(f.value)">
                            <div class="form-group">
                                <br>
                            <label class="control-label">
                                Nom du Groupe :
                            </label>
                            <input type="text" class="form-control" name="nom" ngModel>
                            </div>
                        <button class="btn btn-success" type="Submit"> Save</button>
                        </form>
        
        
        
        
        </div>
        

        </div>
    </div>
</div>