
<body>


<div class="container">

 
    <div>
      <br>
      <h1 style="text-align: center; color: blue;"> Liste des Groupes : </h1>
      <hr>
    </div>
  
    <table class=" table table-striped"> 
      <tr>
        <th style="color: red;"> ID </th>
        <th style="color: red;"> Nom </th>
      </tr>
      <tr *ngFor="let groupe of groupes" >
        <td>{{groupe.id_Groupe }}</td>
          <td>{{groupe.nom | uppercase}}</td>
          <td> <a class="btn btn-danger" (click)="onDeleteGroupe(groupe)"> Delete</a></td>
      </tr>
        </table>
    <a routerLink="/addgroupe" > Ajouter Un groupe </a>
  
</div>
</body>